In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import Imputer

In [2]:
funceme_df = pd.read_csv("scraping/funceme_media_macrorregiao.csv", index_col=0 ,parse_dates=['datahora'])
media_observado_a_substituir = funceme_df.loc['1973-08-01 12:00:00']['Observado(mm)'].mean()
media_desvio_a_substituir = funceme_df.loc['1973-08-01 12:00:00']['Desvio(%)'].mean()

#Trata missing number
funceme_df['Normal(mm)'].fillna(media_observado_a_substituir, inplace=True)
funceme_df['Observado(mm)'].fillna(media_observado_a_substituir, inplace=True)
funceme_df['Desvio(%)'].fillna(media_desvio_a_substituir, inplace=True)

#Obtém média para cada coluna dos dados pluviométricos
medias = []
observado = []
desvio = []
for indices_unicos in funceme_df.index.unique():
    medias.append(funceme_df.loc[indices_unicos]['Normal(mm)'].mean())
    observado.append(funceme_df.loc[indices_unicos]['Observado(mm)'].mean())
    desvio.append(funceme_df.loc[indices_unicos]['Desvio(%)'].mean())

In [3]:
funceme_df.head(20)

,Macrorregioes,Normal(mm),Observado(mm),Desvio(%)
datahora,,,,
1973-01-01 12:00:00,Cariri,148.3,103.8,-30.0
1973-01-01 12:00:00,Ibiapaba,108.5,176.7,62.9
1973-01-01 12:00:00,Jaguaribana,83.6,95.0,13.5
1973-01-01 12:00:00,Litoral De Fortaleza,97.2,112.7,15.9
1973-01-01 12:00:00,Litoral De Pecem,88.1,128.9,46.3
1973-01-01 12:00:00,Litoral Norte,111.0,203.0,82.9
1973-01-01 12:00:00,Macico De Baturite,95.9,93.1,-2.9
1973-01-01 12:00:00,Sertao Central E Inhamuns,88.1,73.1,-17.0
1973-02-01 12:00:00,Cariri,166.8,94.7,-43.2
1973-02-01 12:00:00,Ibiapaba,145.7,162.6,11.6
1973-02-01 12:00:00,Jaguaribana,114.5,100.0,-12.7
1973-02-01 12:00:00,Litoral De Fortaleza,145.8,245.5,68.4
1973-02-01 12:00:00,Litoral De Pecem,129.4,193.3,49.4
1973-02-01 12:00:00,Litoral Norte,161.2,230.6,43.1
1973-02-01 12:00:00,Macico De Baturite,126.8,168.4,32.8
1973-02-01 12:00:00,Sertao Central E Inhamuns,105.3,87.9,-16.5
1973-03-01 12:00:00,Cariri,218.4,181.7,-16.8
1973-03-01 12:00:00,Ibiapaba,234.8,240.1,2.3
1973-03-01 12:00:00,Jaguaribana,193.7,247.3,27.7
1973-03-01 12:00:00,Litoral De Fortaleza,252.6,327.1,29.5

In [4]:
#Cria novo Pandas Dataframe
funceme_media_estadual_df = pd.DataFrame(index=funceme_df.index.unique().tolist())

#Adiciona dados mensais do estado ao Dataframe criado
funceme_media_estadual_df = pd.concat(
    [funceme_media_estadual_df, 
        pd.DataFrame(data=medias, index=funceme_media_estadual_df.index, columns= ['Normal(mm)']),
        pd.DataFrame(data=observado, index=funceme_media_estadual_df.index, columns= ['Observado(mm)']),
        pd.DataFrame(data=desvio, index=funceme_media_estadual_df.index, columns= ['Desvio(%)'])],
    axis=1, join_axes=[funceme_media_estadual_df.index])
funceme_media_estadual_df.head()

                     Normal(mm)  Observado(mm)  Desvio(%)
1973-01-01 12:00:00    102.5875       123.2875    21.4500
1973-02-01 12:00:00    136.9375       160.3750    16.6125
1973-03-01 12:00:00    223.3125       261.5875    15.7000
1973-04-01 12:00:00    204.1500       350.5875    73.3000
1973-05-01 12:00:00    105.5250       165.1750    53.5000

## Set values to class

In [27]:
rainy_seasonal_months = [2,3,4]

indexes = []
rows = []

for index,row in funceme_media_estadual_df.iterrows():
    if index.month not in rainy_seasonal_months:
        continue
    indexes.append(index)
    rows.append(row)

In [37]:
filtrado_df = pd.DataFrame(index=indexes, columns=funceme_media_estadual_df.columns,data=rows)
filtrado_df.head(10)

                     Normal(mm)  Observado(mm)  Desvio(%)
1973-02-01 12:00:00    136.9375       160.3750    16.6125
1973-03-01 12:00:00    223.3125       261.5875    15.7000
1973-04-01 12:00:00    204.1500       350.5875    73.3000
1974-02-01 12:00:00    127.9375       204.0625    58.5375
1974-03-01 12:00:00    220.5125       359.1125    63.0750
1974-04-01 12:00:00    208.0500       447.8000   116.3875
1975-02-01 12:00:00    127.9375       146.4875    14.2750
1975-03-01 12:00:00    220.5125       273.3000    24.8500
1975-04-01 12:00:00    208.0500       195.0625    -6.6375
1976-02-01 12:00:00    127.9375       206.3125    61.5250

In [44]:
filtrado_df = filtrado_df.groupby(filtrado_df.index.year).mean()

In [50]:
# filtrado_df

In [74]:
strong = 'strong'
normal = 'normal'
weak = 'weak'

classes = []

for index, row in filtrado_df.iterrows():
#     print(index)
    if row['Observado(mm)'] < 50:
        classes.append(weak)
        continue
    
    if row['Observado(mm)'] < 200:
        classes.append(normal)
        continue
        
    classes.append(strong)
filtrado_df['classes'] = classes
filtrado_df.head(100)

      Normal(mm)  Observado(mm)   Desvio(%) classes
1973  188.133333     257.516667   35.204167  strong
1974  185.500000     336.991667   79.333333  strong
1975  185.500000     204.950000   10.829167  strong
1976  185.500000     193.837500   11.387500  normal
1977  185.500000     195.433333    8.241667  normal
1978  185.500000     158.775000  -10.791667  normal
1979  185.500000     115.241667  -35.941667  normal
1980  185.500000     171.520833   11.962500  normal
1981  185.500000     153.483333  -23.516667  normal
1982  185.500000     149.208333  -18.400000  normal
1983  185.500000     105.708333  -37.020833  normal
1984  185.500000     232.966667   20.345833  strong
1985  185.500000     365.654167  109.108333  strong
1986  185.500000     302.350000   63.520833  strong
1987  185.500000     172.337500  -11.270833  normal
1988  185.500000     214.750000   12.966667  strong
1989  185.500000     212.116667    5.954167  strong
1990  185.500000     124.120833  -27.283333  normal
1991  185.500000     177.075000   -6.416667  normal
1992  185.500000     162.900000   -4.687500  normal
1993  185.500000      89.191667  -51.404167  normal
1994  185.500000     210.737500   15.741667  strong
1995  185.500000     228.041667   22.179167  strong
1996  185.500000     243.037500   26.016667  strong
1997  185.500000     146.004167  -24.762500  normal
1998  185.500000      84.533333  -55.745833  normal
1999  185.500000     160.233333  -15.970833  normal
2000  185.500000     203.200000   13.408333  strong
2001  185.500000     162.887500  -16.975000  normal
2002  185.500000     160.570833  -20.383333  normal
2003  185.500000     229.758333   26.641667  strong
2004  185.500000     173.170833    9.100000  normal
2005  185.500000     122.350000  -37.183333  normal
2006  185.500000     194.891667    3.779167  normal
2007  185.500000     187.429167   13.070833  normal
2008  185.500000     227.250000   14.895833  strong
2009  185.500000     276.916667   47.633333  strong
2010  185.500000      92.420833  -53.379167  normal
2011  185.500000     195.866667    9.258333  normal
2012  185.500000     112.670833  -30.366667  normal
2013  185.500000     103.112500  -44.412500  normal
2014  185.500000     137.820833  -25.379167  normal
2015  188.133333     153.037500  -20.283333  normal
2016  188.133333     110.425000  -43.116667  normal
2017  188.500000     189.829167    3.529167  normal